<style>
  body {
    background: #efefef;
    font-family: Yu Gothic;
  }
div {
  background: #888888;
  width: 300px;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  margin: 60px auto;
}

</style>
